.main {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    /*padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
    display: table;
    background: linear-gradient(
            gray,
            white
    );
}

.main aside {
    height: 100%;
    text-align: left;
    display: block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
}



aside .panel .panel-header {
    color: #000;
    background-color: #FFFFFF;

    border-bottom: 0.5px solid;
    border-color: #ccc;

    padding: 10px;
    overflow: hidden;
    text-size: medium;
}


aside .panel .panel-body-base {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

aside .panel .panel-body-article {
    display: block;
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    border-width : 0px 0px 0.5px 0px;
    border-color:#ccc;
    border-style: solid;
    width: 100%;
}











